<div class="rechteck" (click)="director.setSelected(this.shape)" 
[style.top.vh]="shape.top"
[style.left.vh]="shape.left"
[style.width.vh]="shape.width"
[style.height.vh]="shape.height">

    <div class="wrapper" 
    [style.border-color]="shape.selected ? '#DD0B2F': '#707070'">

        <input class="titleInput" type="text" 
        [(ngModel)]="shape.title" 
        (click)="deselectConnectoractive()">
        
        <label class="Label" >ChatBot</label>
        <textarea class="chatBubble" type="textarea" 
        [(ngModel)]="shape.greeting"
        (click)="deselectConnectoractive()"></textarea>
        <div class="triangleBot"></div>
        

    </div>
    <div class="connector"
    (click)="toggleConnectorActive()"
    [class.connector-active]="shape.connectorActive"></div>
</div>