<div class="rechteck"  
[style.top.vh]="shape.top"
[style.left.vh]="shape.left"
[style.width.vh]="shape.width"
[style.height.vh]="shape.height">

    <div class="wrapper" (click)="director.setSelected(this.shape); director.deleteMenu()"
    [class.wrapper-active]="shape.selected">

        <input class="titleInput" type="text" 
        [(ngModel)]="shape.title" 
        (click)="deselectConnectoractive()">
        
        <label class="Label" >ChatBot</label>
        <textarea class="chatBubble" type="textarea" 
        [(ngModel)]="shape.greeting"
        (click)="deselectConnectoractive()"></textarea>
        <div class="triangleBot"></div>
        

    </div>
    <div class="connector"
    (click)="director.setSelected(this.shape); director.deleteMenu(); director.addMenu(); toggleConnectorActive()"
    [class.connector-active]="shape.connectorActive"></div>
</div>