.subKreisRight {
    border: 2px solid black;
    border-left: none;
    box-sizing: border-box;
    border-radius: 0 2.5vw 2.5vw 0;
    position: absolute;
}

.subKreisRight:hover {
    opacity: 0.7;
} 

.phantom {
    border: 2px solid black;
    border-right: none;
    border-left: none;
    box-sizing: border-box;
    position: absolute;
    background-color: #707070;
}