.subKreisRight {
    box-sizing: border-box;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    position: absolute;
    padding-right:var(--outer-padding);
    display: block;
}
.wrapper {
    border: 2px solid black;
    border-left: none;
    box-sizing: border-box;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    height: 50%;
    width: 100%;
    margin-top: var(--connector-height-fem);
}

.subKreisRight:hover {
    opacity: 0.7;
}

.phantom {
    border: 2px solid black;
    border-right: none;
    border-left: none;
    box-sizing: border-box;
    position: absolute;
    background-color: #707070;
}
