<div>
        <div *ngIf="shape.phantomLeft !== null" class="phantom"
        [style.top.vh]="shape.phantomLeft.top"
        [style.left.vh]="shape.phantomLeft.left"
        [style.width.vh]="shape.phantomLeft.width"
        [style.height.vh]="shape.phantomLeft.height"> 
        </div>
    
        <div class="subKreisRight" (click)="director.setSelected(this.shape);toolMenuS.doToolMenu()"
        [style.top.vh]="shape.top"
        [style.left.vh]="shape.left"
        [style.width.vh]="shape.width"
        [style.height.vh]="shape.height">
                <div class="wrapper"
                [style.background-color]="shape.selected ? '#DD0B2F': '#707070'">
                
                </div>
        </div>

</div>
    