<div id="box">
        <p id="headline">Dialogknoten</p>
        <hr id="line">
        <p id="userHeader">Benutzer</p>
        <div id="userBubble" (click)="openUserEditor()">
            <p id="userText">Können sie mich über ihre Produkte beraten?</p>
        </div>
        <div id="speechBubbleTriangleUser"></div>
        <p id="chatbotHeader">Chatbot</p>
        <div id="chatbotBubble" (click)="openChatbotEditor()">
                <p id="chatbotTextDialogNode">Haben sie bereits Verträge bei uns?</p>
            </div>
        <div id="speechBubbleTriangleChatbot"></div>
    </div>
