

    <h2>Welche Löschaktion soll durchgeführt werden?</h2>
    <div *ngIf="getDialogType() === nodeType.BASICNODE">
        <mat-dialog-actions align="center">
            
            <button mat-raised-button mat-dialog-close tabindex="1" (click)="deleteSingle(director.selected)">diesen Knoten löschen</button>
            <button mat-raised-button mat-dialog-close tabindex="2" (click)="deleteTree(director.selected)">diesen Strang löschen</button>
            <button mat-raised-button mat-dialog-close tabindex="3" >abbrechen</button>
            
        </mat-dialog-actions>
    </div>

    <div *ngIf="getDialogType() === nodeType.BASICNODE + 'Leaf'">
        <mat-dialog-actions align="center">
            
            <button mat-raised-button mat-dialog-close tabindex="1" (click)="deleteSingle(director.selected)">diesen Knoten löschen</button>
            <button mat-raised-button mat-dialog-close tabindex="3" >abbrechen</button>
            
        </mat-dialog-actions>
    </div>

    <div *ngIf="getDialogType() === nodeType.DIVIDERNODE">
        <mat-dialog-actions align="center">

            <button mat-raised-button mat-dialog-close tabindex="1" (click)="deleteTree(director.selected)">ganze Verzweigung löschen</button>
            <button mat-raised-button mat-dialog-close tabindex="2" >abbrechen</button>
            
        </mat-dialog-actions>
    </div>

    <div *ngIf="getDialogType() === nodeType.DIVIDERNODE + 'Multiple'">
        <mat-dialog-actions align="center">

            <button mat-raised-button mat-dialog-close tabindex="1" (click)="deleteBranch()">diesen Strang löschen</button>
            <button mat-raised-button mat-dialog-close tabindex="2" (click)="deleteTree(director.selected)">ganze Verzweigung löschen</button>
            <button mat-raised-button mat-dialog-close tabindex="3" >abbrechen</button>
            
        </mat-dialog-actions>
    </div>




