<div class="scaling-menu">
    <button id="plus" (click)="scale('+')">+</button>
    <button id="minus" (click)="scale('-')">-</button>
    <button (click)="jsonNode.stringify(); director.clearNodeList();jsonNode.nodeCrawler()">JS</button>
    <button (click)="loadExample()">bsp</button>

  <!--  <button (click)="director.basicArrange(director.nodeList[0])">basic</button>
    <button (click)="director.resizeDividerNodes(director.nodeList[0]);">resize</button>
    <button (click)=" director.repositionDividerNodes(director.nodeList[0])">reposition</button>
    <button (click)="director.prettier()">prettier</button>
    <button (click)="director.drawTree()">do it</button>  -->
</div>
