.toolBar {
    display: grid;
    background-color: rgb(202, 202, 202);
    height: 100vh;
    border-right: 2px solid black;
    display: border-box;
    padding: 0.5vh;
}

button{
    font-size: 26px;
    color: white;
    width: 100%;
    display: block;
    margin: 2px 0 2px 0;
    border: 2px solid black;
    border-radius: 1vh;
    background-color: #707070;
    margin-bottom: 0.5vh;

}

button:hover {
    background-color: #DD0B2F;
}
.test {
    background-color: #DD0B2F;
}
.test2 {
    background-color: black;
}
