.drawing-field {
    overflow: scroll;
    background-color: white;
    height: 100vh;
    position: relative;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-background);
    scrollbar-width: thin;
}

#drawingFieldPadding {
    position: absolute;
    height: 1px;
    width: 1px;
}

#toolMenuClass{
    position: absolute;
}