.drawing-field {
    overflow: scroll;
    background-color: white;
    height: 100vh;
    position: relative;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-background);
    scrollbar-width: thin;
}

#drawingFieldPadding {
    position: absolute;
    height: 1px;
    width: 1px;
}

#toolMenuClass{
    position: absolute;
}

app-sidebar {
    position: fixed;
    right: -30vh;

}

.slideIn {
    animation-name: slideIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    from {
        right: -30vh;
    }
    to {
        right: 0vh;
    }
}

.slideOut{
    animation-name: slideOut;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes slideOut {
    from {
        right: 0vh;
    }
    to {
        right: -30vh;
    }
}