<div class="drawing-field">
    <app-start-shape id="startShape"></app-start-shape>

    <div *ngFor="let Shape of ShapeList">
        <div *ngIf="Shape.instanceOf() === 'rechteck'">
            <app-rechteck [shape]=Shape></app-rechteck>
        </div>
        <div *ngIf="Shape.instanceOf() === 'dialog'">
            <app-dialog [shape]=Shape></app-dialog>
        </div>
        <div *ngIf="Shape.instanceOf() === 'monolog'">
            <app-monolog [shape]=Shape></app-monolog>
        </div>
        <div *ngIf="Shape.instanceOf() === 'subKreisLeft'" >
            <app-sub-kreis-left [shape]=Shape></app-sub-kreis-left>
        </div>
        <div *ngIf="Shape.instanceOf() === 'subKreisCenter'">
            <app-sub-kreis-center [shape]=Shape></app-sub-kreis-center>
        </div>
        <div *ngIf="Shape.instanceOf() === 'subKreisRight'" >
            <app-sub-kreis-right [shape]=Shape></app-sub-kreis-right>
        </div>
        <div *ngIf="Shape.instanceOf() === 'menu'">
            <app-menu [shape]=Shape></app-menu>
        </div>

    </div>

    <div [style.top.vh]="drawingFieldPaddingTop" id="drawingFieldPadding">   
    </div>

    <app-scaling-menu></app-scaling-menu>
</div>