<div class="scrollbar-vertical">

    <div class="drawing-field">
        <app-start-node ></app-start-node>

        <div *ngFor="let node of nodeList">
            <div *ngIf="node.type === 'dialog'">
                <app-dialog [node]=node></app-dialog>
            </div>
            <div *ngIf="node.type === 'monolog'">
                <app-monolog [node]=node></app-monolog>
            </div>
            <div *ngIf="node.type === 'dividerNode'">
                <app-divider [node]=node></app-divider>
            </div>
            <div *ngIf="node.type === 'dividerBranch'">
                <app-divider-branch [node]=node></app-divider-branch>
            </div>
            <div *ngIf="node.type === 'link'">
                <app-link [node]=node></app-link>
            </div>
            <div *ngIf="node.type === 'menu'">
                <app-menu [node]=node></app-menu>
            </div>


        </div>

        <div [style.top.vh]="drawingFieldPaddingTop" class="drawingFieldPadding">   
        </div>
        <div [style.left.vh]="drawingFieldPaddingRight" class="drawingFieldPadding">
        </div>

        <app-scaling-menu id="scalingMenu"></app-scaling-menu>
        <app-sidebar id="sidebar"></app-sidebar>
    </div>
</div>