.wrapper {
    overflow: scroll;
    background-color: white;
    height: 100vh;
    position: relative;
}

#drawingFieldPadding {
    position: absolute;
    height: 1px;
    width: 1px;
}

#toolMenuClass{
    position: absolute;
}