.rechteck{
    background-color: lightgray;
    border: solid 2px black;
    border-radius: 5px;
    display: block;
    position: absolute;
    box-sizing: border-box;
}

.rechteck:hover {
    opacity: 0.7;
}