

    <h2>Welche Löschaktion soll durchgeführt werden?</h2>
    <mat-dialog-actions align="center">
        <button mat-raised-button mat-dialog-close tabindex="0" >abbrechen</button>
        <button mat-raised-button mat-dialog-close tabindex="1" (click)="deleteSingle()">delete single</button>
        <button mat-raised-button mat-dialog-close tabindex="2" (click)="deleteBelow()">delete below</button>
        <button mat-raised-button mat-dialog-close tabindex="3" (click)="deleteTree()">delete Tree</button>
        
    </mat-dialog-actions>

