<div class="rechteck" 
[style.top.vh]="node.top"
[style.left.vh]="node.left"
[style.width.vh]="node.width"
[style.height.vh]="node.height">
    <div class="connector-fem">
    </div>
    <div class="wrapper" 
    (click)="director.setSelected(this.node);" 
    (click)="director.deleteMenu();"
    [class.wrapper-active]="node.selected">

        <input class="titleInput" type="text" 
        [(ngModel)]="node.title" 
        (click)="deselectConnectoractive()">
        
        <label class="Label" >ChatBot</label>
        <textarea class="chatBubble" type="textarea"
        [(ngModel)]="node.forwardText"
        (click)="deselectConnectoractive()"></textarea>
        <div class="triangleBot"></div>
        

    </div>
    <div class="connector"
    (click)="director.deleteMenu()"
    (click)="director.addMenu(this.node)"
    (click)="toggleConnectorActive();"
    (click)="director.setSelected(this.node);"
    [class.connector-active]="node.connectorActive"></div>
</div>