<div class="rechteck" 
[style.top.vh]="node.top"
[style.left.vh]="node.left"
[style.width.vh]="node.width"
[style.height.vh]="node.height"
(click)="node.parent.connectorActive = false;"
(click)="undo.save()">
        
    <div *ngIf="getMenuType() === menuType.BASICNODELEAF" 
    class="wrapper" >
        <img src='{{dialogImg}}' id="u-1" (click)="addDialog()">
        <img src='{{monologImg}}' id="u-2" (click)="addMonolog()">
        <img src='{{dividerImg}}' id="u-3" (click)="addDividerNode()">
        <img src='{{linkImg}}' id="u-4" (click)="addLink()">
        <img src='{{deleteImg}}' id="u-5" (click)="openDialog()">
    </div>

    <div *ngIf="getMenuType() === menuType.BASICNODEWITHCHILD" 
    class="wrapper" >
        <img src='{{dialogImg}}' id="e-1" (click)="addDialog()">
        <img src='{{monologImg}}' id="e-2" (click)="addMonolog()">
        <img src='{{dividerImg}}' id="e-3" (click)="addDividerNode()">
        <img src='{{deleteImg}}' id="e-4" (click)="openDialog()">
    </div>

    <div *ngIf="getMenuType() === menuType.BRANCHLEAF" 
    class="wrapper"  >
        <img src='{{dialogImg}}' id="e-1" (click)="addDialog()">
        <img src='{{monologImg}}' id="e-2" (click)="addMonolog()">
        <img src='{{linkImg}}' id="e-3" (click)="addLink()">
        <img src='{{deleteImg}}' id="e-4" (click)="openDialog()">
    </div>

    <div *ngIf="getMenuType() === menuType.BRANCHWITHCHILD" 
    class="wrapper"  >
        <img src='{{dialogImg}}' id="u-2" (click)="addDialog()">
        <img src='{{monologImg}}' id="u-3" (click)="addMonolog()">
        <img src='{{deleteImg}}' id="u-4" (click)="openDialog()">
    </div>

    <div *ngIf="getMenuType() === menuType.BASICNODEWITHCHILDDIVIDER"
    class="wrapper">
        <img src='{{dialogImg}}' id="u-2" (click)="addDialog()">
        <img src='{{monologImg}}' id="u-3" (click)="addMonolog()">
        <img src='{{deleteImg}}' id="u-4" (click)="openDialog()">
    </div>

    <div *ngIf="getMenuType() === menuType.STARTNODELEAF" 
    class="wrapper" >
        <img src='{{dialogImg}}' id="e-1" (click)="addDialog()">
        <img src='{{monologImg}}' id="e-2" (click)="addMonolog()">
        <img src='{{dividerImg}}' id="e-3" (click)="addDividerNode()">
        <img src='{{linkImg}}' id="e-4" (click)="addLink()">

    </div>

    <div *ngIf="getMenuType() === menuType.STARTNODEWITHCHILD" 
    class="wrapper" >
        <img src='{{dialogImg}}' id="u-2" (click)="addDialog()">
        <img src='{{monologImg}}' id="u-3" (click)="addMonolog()">
        <img src='{{dividerImg}}' id="u-4" (click)="addDividerNode()">


    </div>

    <div *ngIf="getMenuType() === menuType.STARTNODEWITHCHILDDIVIDER" 
    class="wrapper" >
        <img src='{{dialogImg}}' id="e-2" (click)="addDialog()">
        <img src='{{monologImg}}' id="e-3" (click)="addMonolog()">

    </div>


    <div class="connector"></div>

</div>