.rechteck{
    border-radius: var(--border-radius);
    display: block;
    position: absolute;
    box-sizing: border-box;
    padding: var(--outer-padding);

}






img{
    position: absolute;
    display: inline-block;
    border: var(--border-bottom-seperator) solid var(--dark-grey);
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    border-radius: var(--border-radius-medium);
    width: var(--button-size);
    height: var(--button-size); 
    z-index: 2;
}

img:hover{
    background-color: var(--assono-rot);
}


.wrapper{
    margin-top: var(--menu-margin-top);
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 90%;
    width: 100%;    
}

.connector {
    display: block;
    border-top: none;
    box-sizing: border-box;
    border: solid var(--border-radius-small) white;
    border-top: none;
    position: relative;
    left: 36.1%;
    top: var(--menu-connector-top);
    width: var(--connector-size);
    height: var(--connector-radius);
    background-color: white;
    border-radius: 0 0 var(--connector-radius) var(--connector-radius);
    z-index: 1;
}


#e-1 {
    left: var(--left-1);
    top: var(--top-1-4);
}
#e-2 {
    left: var(--left-2);
    top: var(--top-2-3);
}
#e-3 {
    left: var(--left-3);
    top: var(--top-2-3);
}
#e-4 {  

    left: var(--left-4);
    top: var(--top-1-4); 

}

/*        //////////////////          */

#u-1 {
    left: var(--left-u-1);
    top: var(--top-u-1-5);
}
#u-2 {
    left: var(--left-u-2);
    top: var(--top-u-2-4);
}
#u-3 {
    left: var(--left-u-3);
    top: var(--top-u-3);;
}
#u-4 {
    left: var(--left-u-4);
    top: var(--top-u-2-4);
}

#u-5 {
    left: var(--left-u-5);
    top: var(--top-u-1-5);
}