.wrapper {
    border: solid var(--border-weight-medium) var(--dark-grey); 
    box-sizing: border-box;
    border-radius: var(--border-radius);
    height: 63%;
    width: 100%;
    margin-top: var(--connector-height-fem);
    background-color: var(--light-grey);
    display: block;
    position: relative;
}

.wrapper-active {
    border: dotted var(--border-weight-medium) var(--assono-rot);
}

.connector-fem {
    position: absolute;
    background-color: var(--assono-blau);
    height: var(--connector-height-fem);
    width: var(--connector-size);
}

.subKreisLeft {
    box-sizing: border-box;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    position: absolute;
    padding-left: var(--outer-padding);
    display: block;
}