<div>
    <div class="connector-fem"
    [style.top.vh]="node.top"
    [style.left.vh]="node.connectorFem"></div>

    <div class="subKreisLeft"
    [style.top.vh]="node.top"
    [style.left.vh]="node.left"
    [style.width.vh]="node.width"
    [style.height.vh]="node.height"> 

    

        <div class="wrapper"
        (click)="director.deleteMenu();"
        [class.wrapper-active]="node.selected">
            <button *ngIf="node.selected" class="addBranchButton"
            (click)="addBranch()"
            [style.left.vh]="node.width - scaling.buttonSize">+</button>
        </div>
          
    </div>

</div>
