.wrapper {
    border: solid var(--border-weight-medium) var(--dark-grey); 
    box-sizing: border-box;
    border-radius: var(--border-radius);
    height: 63%;
    width: 100%;
    margin-top: var(--connector-height-fem);
    background-color: var(--light-grey);
    display: block;
    position: relative;
}

.wrapper-active {
    border: dotted var(--border-weight-medium) var(--assono-rot);
}

.addBranchButton {
    display: block;
    box-sizing: border-box;
    position: relative;
    height: var(--button-size);
    width: var(--button-size);
    top: var(--add-branch-button-top);
    z-index: 2;
    font-size: var(--font-size-text);
    font-weight: bold;
    background-color: white;

    border: var(--border-bottom-seperator) solid var(--dark-grey);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
    border-radius: var(--border-radius-medium);
    width: var(--button-size);
    height: var(--button-size);
}

.addBranchButton:hover {
    background-color: var(--assono-rot);
    color: white;
}

.connector-fem {
    position: absolute;
    background-color: var(--assono-blau);
    height: var(--connector-height-fem);
    width: var(--connector-size);
}

.subKreisLeft {
    box-sizing: border-box;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    position: absolute;
    padding-left: var(--outer-padding);
    display: block;
}