#box{
    background-color: #F5F5F5;
    width: 220px;
    height: 220px;
    border: 1px solid;
    border-color: #707070;
    border-radius: 15px;
}

#line{
    width: 90%;
    color:#707070;
}

#headline{
    margin-top: 5px;
    margin-bottom: 5px;;
    font-size: 20px;
    font-weight: bold; 
    color:#707070;
    text-align: center;
}

#userHeader{
    margin-top: 5px;
    margin-bottom: 5px;;
    font-size: 20px;
    color:#707070;
    text-align: center;
}

#bubble{
    margin-left: auto;
    margin-right: auto;
    width: 190px;
    height: 100px;
    background-color: white;
    border: 3px solid;
    border-color: #707070;
    border-radius: 10px;
}

#chatbotText{
    margin: 5px 5px 5px 5px;
    font-size: 14px;
    color: #707070;
    font-weight: bold;
}

#speechBubbleTriangle{
    margin-left: 165px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25px 35px 0;
    border-color: transparent #707070 transparent transparent;
}