.dividerBranch {
    box-sizing: border-box;
    display: block;
    position: absolute;
}
.wrapper {
    box-sizing: border-box;
    height: 63%;
    width: 100%;
    margin-top: var(--connector-height-fem);
    display: block;
    text-align: center;
}

.buttonInput {
    
    background-color: white;
    color: var(--dark-grey);
    border: solid var(--border-weight-medium) var(--dark-grey);
    font-size: var(--font-size-text);
    font-weight: bold;
    text-align: center;
    width: 70%;
    height: 50%;
}

.buttonInput-selected {
    border-color:  var(--assono-rot);
}

.connector {
    display: block;
    border-top: none;
    box-sizing: border-box;
    border: solid var(--border-radius-small) white;
    border-top: none;
    position: relative;
    left: 36.1%;
    width: var(--connector-size);
    height: var(--connector-radius);
    background-color: var(--assono-blau);
    border-radius: 0 0 var(--connector-radius) var(--connector-radius);
    z-index: 1;
}


.connector:hover {
    border: solid var(--connector-border) var(--assono-rot);
    transition: 0.3s;
}

.connector:hover {
    background-color: var(--assono-rot);
}

.connector-active {
    background-color: var(--assono-rot);
    border-color: var(--assono-rot);
}
