
<div class="rechteck"  
[style.top.vh]="node.top"
[style.left.vh]="node.left"
[style.width.vh]="node.width"
[style.height.vh]="node.height">
    <div class="connector-fem">
    </div>
    <div class="wrapper"
    (click)="director.setSelected(this.node);" 
    (click)="director.deleteMenu();"
    (click)="node.deselectConnectorActive()"
    [class.wrapper-active]="node.selected">
 
        <input class="titleInput" type="text" 
        [(ngModel)]="node.title" 
        placeholder="{{titlePlaceholder}}">
        
        
        <div class="contentFloat user">
            <label class="Label floatRight" >Benutzer</label>
        </div>
        <textarea class="chatBubble user" type="textarea" 
        [(ngModel)]="node.question"

        placeholder="{{questionPlaceholder}}"></textarea>
        
        <div class="triangleUser"></div>


        <label class="Label" >ChatBot</label>
        <textarea class="chatBubble" type="textarea" 
        [(ngModel)]="node.answer"
        placeholder="{{answerPlaceholder}}"></textarea>

        <div class="triangleBot"></div>
        
        
    </div>
    <div class="connector"
    (click)="director.deleteMenu()"
    (click)="director.addMenu(this.node)"
    (click)="director.setSelected(this.node);"
    (click)="node.selectConnectorActive()"
    [class.connector-active]="node.connectorActive"></div>
</div>