<div class="rechteck"
[style.top.vh]="node.top"
[style.left.vh]="node.left"
[style.width.vh]="node.width"
[style.height.vh]="node.height">

    <div class="wrapper" 
    (click)="director.setSelected(this.node);" 
    (click)="director.deleteMenu();"
    (click)="deselectConnectoractive();"
    [class.wrapper-active]="node.selected">

        <input class="titleInput" type="text" 
        [(ngModel)]="node.title" 
        placeholder="{{titlePlaceholder}}">
        
        <label class="Label" >ChatBot</label>
        <textarea class="chatBubble" type="textarea" 
        [(ngModel)]="node.greeting"
        placeholder="{{greetingPlaceHolder}}"
        ></textarea>
        <div class="triangleBot"></div>
        

    </div>
    <div class="connector"
    (click)="director.deleteMenu()"
    (click)="director.addMenu(this.node)"
    (click)="director.setSelected(this.node);"
    (click)="toggleConnectorActive();"
    [class.connector-active]="node.connectorActive"></div>
</div>