<div>
    <div class="dividerBranch"
    [style.top.vh]="node.top"
    [style.left.vh]="node.left"
    [style.width.vh]="node.width"
    [style.height.vh]="node.height"
    (click)="director.setSelected(this.node);">

        <div class="wrapper">
                <input class="buttonInput" type="text" [(ngModel)]="node.selectionText"
                [class.buttonInput-selected]="node.selected && !node.connectorActive"
                (click)="deselectConnectoractive()" 
                (click)="director.setSelected(this.node)"
                placeholder="{{selectionTextPlaceholder}}">
        </div>
        <div class="connector"

        (click)="director.deleteMenu()"
        (click)="director.addMenu(this.node)"
        (click)="toggleConnectorActive();"
        (click)="director.setSelected(this.node);"
        [class.connector-active]="node.connectorActive"></div>
    </div>    
</div>
