

button {
    height: 5vh;
    width: 5vh;
    display: block;

    border: solid 0.4vh var(--dark-grey);
    border-radius: 0.5vh;
    color: var(--dark-grey);
    font-weight: bolder;
    font-size: larger;
    margin-bottom: 0.4vh;
    opacity: 0.7;

}

button:hover {
    opacity: 1;
}